:root{
    --azul-oscuro: #03045E;
    --azul-medio: #0077B6;
    --azul-claro: #90E0EF;
    --gris-oscuro: #0A0908;
    --beige: #EAE0D5;
    --marron-claro: #C6AC8F;
    --negro: #000000 !important;
    --blanco: #ffffff !important;
}

/* Fondos y tipografia de color*/
.bg-azul-oscuro{
    background-color: var(--azul-oscuro);
}

.bg-azul-medio{
    background-color: var(--azul-medio);
}

.bg-azul-claro{
    background-color: var(--azul-claro);
}

.bg-gris-oscuro{
    background-color: var(--gris-oscuro);
}

.bg-beige{
    background-color: var(--beige);
}

.bg-beige:hover{
    background-color: var(--marron-claro);
    color: var(--negro);
}

.bg-marron-claro{
    background-color: var(--marron-claro);
}

.bg-marron-claro:hover{
    background-color: var(--beige);
    color: var(--negro);
}

.bg-blanco{
    background-color: var(--blanco);
}

.color-azul-oscuro{
    color: var(--azul-oscuro);
}

.color-azul-medio{
    color: var(--azul-medio);
}

.color-azul-claro{
    color: var(--azul-claro);
}

.color-gris-oscuro{
    color: var(--gris-oscuro);
}

.color-negro{
    color: var(--negro);
}

.color-blanco{
    color: var(--blanco);
}

.color-blanco:hover{
    color: var(--azul-claro);
}

/* Clase general - body */

body{
    font-family: 'Poppins';
}

/* Carrusel */

.carousel-inner .carousel-item img{
    height: 40vh;
}

.texto-carousel{
    font-size: 1.1rem;
    text-shadow: 2px 2px #000;
}

/* Títulos */
.title{
    text-decoration: underline;
}

.title-admin{
    border-bottom: solid #000000;
    text-align: end;
}

/*Cards eventos*/

.card-img-evento{
    height: 247px;
    object-fit:fill;
}

/* Inputs login */

@media(max-width: 575.9px){
    .login .form-label{
        border: none !important;
    }

    .login .form-label div{
        display: flex;
        align-items: start;
    }

    .login div .form-control{
        border: solid #000000 !important;
    }
}

hr{
    opacity: 1;
}
